<!DOCTYPE html>
<html>
<head>
  <title>mp.redux</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
  .Application {
    min-width: 320px;
    max-width: 960px;
    margin: auto;
  }
  h3.floating {
    float: left;
    margin-right: 20px;
  }
  </style>
</head>
<body>
  <div id="main">
    <h3>Oops..</h3>
    <p>There was an issue while communicating to the backend</p>
    <pre>{{{error}}}</pre>
</body>
</html>
